.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-item {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    border: 1px solid black;
    background: cornflowerblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
  }
}
